@import "./componentes";

@mixin tamaño-imagenes ($anchoimg, $altoimg) {
    alto: $altoimg;
    ancho: $anchoimg;
}
@mixin fonts($ptserif, $italicfont, $fontsize, $amarilloclaro, $magenta) {
    color: $amarilloclaro $magenta;
    font-family: $ptserif;
    font-style: $italicfont;
}


