$amarilloclaro: #fff0bd;
$verde: #c7db9c;
$magenta: #e50046;
$rosaclaro: #fdab9e;

$ptserif: 'PT Serif';
$italicfont: 'Pt Serif, italic'
$basepadding 5px;
$fontsize: 20px;

$form-width: 400px;
$border-form: 1px solid;
$form-border-radio: 1em;


